<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron login-wrapper">
    
    <div class="container">
        <div class="row">
            <div>
                <img src="../assets/pms.png" width="267" height="150">
            <div class="inner-login">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>