<ul class="dropdown-menu">
<ng-container *ngFor="let subItem of subMenuItems;">
        <li *ngIf="subItem['UnderMenuId'] == superId">
            <a href="#">{{ subItem['MenuName'] }}</a>
            <menu-item [subMenuItems]="filterMenuByModule(subMenuItems, subItem['ModuleId'])" [superId]="subItem['MenuId']"></menu-item>
            <ng-container *ngFor="let subItem of filterMenuByUnderMenu(subMenuItems, subItem['MenuId']);">
                    
            </ng-container>
        </li>
</ng-container>
</ul>