/* You can add global styles to this file, and also import other style files */
/* Login Styles */
 html, body{
    height: 100%;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #1e2022;
 }
.login-wrapper{
    height: 100%;
    margin-bottom: 0;
    background-image: linear-gradient(0deg, rgba(55, 125, 255, 0.05) 0%, transparent 100%);
    background-repeat: repeat-x;
    background: #E1E9EC;
}
.inner-login{
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08)!important;
    background: rgb(246, 249, 251);
    padding: 40px;
    border-radius: 5px;
    margin-top: 4rem;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
    /* border-radius: 5px; */
    
}
.middle-align{
margin: 0 auto;
z-index: 3;
}
.logo-wrap img{
    margin: 0 auto;
    margin-bottom: 30px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5dae2;
    border-radius: 0.3125rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    box-shadow: 0 0 10px rgba(55, 125, 255, 0.1);
    border-color: rgba(55, 125, 255, 0.5);
}
.form-control:focus {
    color: #1e2022;

}
.form-group label{
    font-size: 0.9rem;
    color: #6b6b6b;
    margin-bottom: 0;

}
.text-1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #03264e;
    margin-bottom: 5px;
    font-weight: 600;
}
.btm-bg{
    background: #075bf3;
    height: 300px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
}